	<div class="expanded row apps">
		<div class="large-centered columns no-margin-right">
			<div class="row expanded small-up-1 medium-up-1 large-up-2">
				<div class="column">
					<div class="row expanded">
						<br><br>
						<h4 class="small-10 small-centered centered white subhead">Take the course wherever you learn best</h4>
						<span class="mobile-only padded"><img src="{{ site.baseurl }}/assets/img/mobile/apps-img.png"></span>
						<div class="button-group padded">
							<li class="small-3 medium-3 large-3 inline "><img src="assets/img/svg/button-ios-store.svg"></li>
							<li class="small-3 medium-3 large-3 inline "><img src="assets/img/svg/button-google-play.svg"></li>
							<li class="small-3 medium-3 large-3 inline "><img src="assets/img/svg/button-online.svg"></li>
						</div>
						<p class="centered white large"><a href="#">Text me the app</a></p>
					</div>
				</div>
				<div class="column no-margin-right">
					<span><img class="desktop-only" src="{{ site.baseurl }}/assets/img/apps-img.png"></span>
				</div>
			</div>
		</div>
	</div>