	<p>Over 25,000 teens have earned their license with Aceable's help in 2015, rating it 4.9 out of 5 stars!</p>
	<br>
	<div class="icon-list">
		<div class="row">
			<span class="icon"><img src="{{ site.baseurl }}/assets/img/svg/icon-gov.svg"></span>
			<span class="icon-description"><strong>State of California certified!</strong><br>We're the easy & convenient way for teens to meet the requirements to get their permit.</span>
		</div>
		<div class="row">
			<span class="icon"><img src="{{ site.baseurl }}/assets/img/svg/icon-device.svg"></span>
			<span class="icon-description"><strong>Parent & Teen Approved!</strong><br>Parent monitoring and in-car teaching tools put parents in the driver's seat.</span>
		</div>
		<div class="row">
			<span class="icon"><img src="{{ site.baseurl }}/assets/img/svg/icon-ribon.svg"></span>
			<span class="icon-description"><strong>Fun & Engaging Content</strong><br>Interactive content helps keep teens engaged.<br>No more boring classes.</span>
		</div>
	</div>
	
