	<p><span class="question">Are there any hidden fees?</span><br>
		<span class="answer"> No here at Aceable! The only other charges are by your local DMV office</span></p>
	<p><span class="question">What are the system requirements?</span><br>
	
		<span class="answer">Here's what you need for the course to work:</span>
		<ul>
			<li>Either an iPhone, iPad, iPod touch, Android phone, Android Tablet, laptop or desktop computer.</li>
			<li>An internet connection (wi-fi or cellurar</li>
		</ul>
	</p>
	
	<p><span class="question">Can I try it out before purchasing?</span><br>
		<span class="answer">YES! The first three levels are a gift to you! Try it out and if you like it, you can purchase the full course. We also offer a money back guarantee.</span></p>
	
	<p><span class="question">What's included in the price?</span><br>
		<span class="answer">For this one time purchase, here's what you get:</span>
		<ul>
			<li>California DMV-approved Drivers Education course</li>
			<li>Unlimited Free Practice Tests to make sure you pass the test at the DMV office</li>
			<li>Driving manager to track your behind the wheel hours</li>
			<li>For parents: tools to monitor your teen's progress, plus guidance on how to do the in-car pracice</li>
		</ul>
	</p>
	
<p><span class="question">What's included in the price?</span><br>
		<span class="answer">For this one time purchase, here's what you get:</span>
		<ul>
			<li>California DMV-approved Drivers Education course</li>
			<li>Unlimited Free Practice Tests to make sure you pass the test at the DMV office</li>
			<li>Driving manager to track your behind the wheel hours</li>
			<li>For parents: tools to monitor your teen's progress, plus guidance on how to do the in-car pracice</li>
		</ul>
	</p>
	
	<p><span class="question">What's included in the price?</span><br>
		<span class="answer">For this one time purchase, here's what you get:</span>
		<ul>
			<li>California DMV-approved Drivers Education course</li>
			<li>Unlimited Free Practice Tests to make sure you pass the test at the DMV office</li>
			<li>Driving manager to track your behind the wheel hours</li>
			<li>For parents: tools to monitor your teen's progress, plus guidance on how to do the in-car pracice</li>
		</ul>
	</p>