	<div class="expanded row features padded">
		<div class="large-10 large-centered columns">
			<h2 class="centered">Why Aceable is the best</h2>
			<br>
			<div class="row small-up-2 medium-up-2 large-up-3">
				<div class="column">
					<span class="ace-icon"><img src="assets/img/svg/icon-phone-video.svg"></span>
					<p class="ace-icon--description">Learn through video and interactive questions</p>
				</div>
				<div class="column">
					<span class="ace-icon"><img src="assets/img/svg/icon-phone-audio.svg"></span>
					<p class="ace-icon--description">Free audio voiceover if you prefer listening to reading</p>
				</div>
				<div class="column">
					<span class="ace-icon"><img src="assets/img/svg/icon-smiley.svg"></span>
					<p class="ace-icon--description">Funny photos and memes  to keep you from getting bored</p>
				</div>
				<div class="column">
					<span class="ace-icon"><img src="assets/img/svg/icon-computer-check.svg"></span>
					<p class="ace-icon--description">Transition between any device  seamlessly as you take the course</p>
				</div>
				<div class="column">
					<span class="ace-icon"><img src="assets/img/svg/icon-sync.svg"></span>
					<p class="ace-icon--description">Your progress always syncs automatically</p>
				</div>
				<div class="column">
					<span class="ace-icon"><img src="assets/img/svg/icon-touch.svg"></span>
					<p class="ace-icon--description">Tools for parents to track teen progress</p>
				</div>
			</div>
		</div>
	</div>