	<div class="expanded row footer relative">
		<div class="row expanded ">
			<div class="row expanded padded">
				<h2 class="centered">THIS IS THE FOOTER</h2>
				<br>
			</div>
			<div class="small-12 medium-12 large-12 large-centered small-centered columns row expanded social absolute">
				<div class="small-6 medium-6 large-6 columns"><p><small><a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a> | <span class="white">COPYRIGHT ACEABLE 2015, All Rights Reserved</span></small></p></div>
				<div class="small-6 columns "><p class="social-icons"><i class="fa fa-twitter"></i><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i></p></div>
			</div>
		</div>
	</div>