<head>
	
  <title>{% if page.title == "Home" %} {{ site.title }} | {{ site.tagline }} {% else %} {{ site.title }} | {{ page.title }} {% endif %}</title>	
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="canonical" href="http://aceable.com/">
  <meta property="og:site_name" content="Drivers Ed &amp; Defensive Driving Online Courses - Aceable ">
  <meta property="og:title" content="{% if page.title == "Home" %} {{ site.title }} | {{ site.tagline }} {% else %} {{ site.title }} | {{ page.title }} {% endif %}">
  <meta property="og:url" content="http://aceable.com/">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="{{ page.image }}">
  <meta itemprop="name" content="{% if page.title == "Home" %} {{ site.title }} | {{ site.tagline }} {% else %} {{ site.title }} | {{ page.title }} {% endif %}">
  <meta itemprop="url" content="http://aceable.com/">
  <meta itemprop="description" content="{{ page.description }}"
  <meta itemprop="thumbnailUrl" content="{{ page.thumb }}">
  <link rel="image_src" href="{{ page.image }}">
  <meta itemprop="image" content="{{ page.image }}">
  <meta name="twitter:title" content="{% if page.title == "Home" %} {{ site.title }} | {{ site.tagline }} {% else %} {{ site.title }} | {{ page.title }} {% endif %}">
  <meta name="twitter:image" content="{{ page.image }}">
  <meta name="twitter:url" content="http://aceable.com/">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="{{ page.description }}"
  <meta name="description" content="Learn to drive, get your license, or dismiss a ticket with Aceable'scertified Drivers Ed &amp; Defensive Driving apps">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway:400,300,400italic,500,700,100,200,100italic,200italic,300italic,500italic,600,600italic,700italic,800,800italic' type='text/css'>
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
</head>
