	<header class="masthead">
		<div class="large-10 large-centered columns">
			<h1 class="centered"><img srcset="/assets/img/svg/state-bages.svg" alt="State Bages"/></h1>
			<h1 class="centered">Texas Approved <br class="mobile-break">Online Driver's Ed</h1>
			<p class="white centered subhead">Completely skip the classroom with Aceable's mobile friendly app</medium></p>
			<p class="white centered">Are you over 18 years of age?</p>
			<div class="button-group">
				<li class="small-5 medium-3 inline white"><button class="ace-btn ace-btn--secondary">Yes</button><span class="ace-btn-description">Adult Driver's Ed<spa></li>
				<li class="small-5 medium-3 inline white"><button class="ace-btn ace-btn--secondary">No</button><span class="ace-btn-description">Teen Driver's Ed</span></li>
			</div>
		</div>
	</header>